### SQLite3 활용

In [1]:
import sqlite3 as sq

- DB에 접속해서 데이터 읽기

In [2]:
# member table에 있는 데이터 모두 읽기
conn = sq.connect('test.db') # connection
cur = conn.cursor()

sql = 'select * from member'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

In [3]:
for row in rows:
    print(row)

(1, 'james', 25)
(2, 'maria', 23)
(3, 'tommy', 19)
(4, 'emma', 27)
(9, 'cha', 51)

In [4]:
# 24세 미만 member 가져오기
conn = sq.connect('test.db') # connection
cur = conn.cursor()

sql = 'select * from member where age < 24'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

for row in rows:
    print(row)

(2, 'maria', 23)
(3, 'tommy', 19)

In [5]:
# ? 세 미만의 member 가져오기
def get_members_under_age(age):
    conn = sq.connect('test.db') # make connection
    cur = conn.cursor()

    sql = 'select * from member where age < ?'
    cur.execute(sql, (age, ))   # paratemer: (age, ), tuple
    rows = cur.fetchall()

    cur.close()
    conn.close()
    return rows

In [6]:
results = get_members_under_age(24)
for row in results:
    print(row)

(2, 'maria', 23)
(3, 'tommy', 19)

In [7]:
# 종문씨
def get_members_under_age2(age):
    conn = sq.connect('test.db') # make connection
    cur = conn.cursor()

    sql = f'select * from member where age < {age}'
    cur.execute(sql)   # paratemer: (age, ), tuple
    rows = cur.fetchall()

    cur.close()
    conn.close()
    return rows

In [8]:
results = get_members_under_age2(20)
for row in results:
    print(row)

(3, 'tommy', 19)

In [9]:
# mid에 해당하는 데이터 한 건 가져오기
def get_member_by_mid(mid):
    conn = sq.connect('test.db')
    cur = conn.cursor()

    sql = 'select * from member where mid = ?'
    cur.execute(sql, (mid, ))
    row = cur.fetchone()    # 한 건만 가져오기

    cur.close()
    conn.close()
    return row

In [10]:
result = get_member_by_mid(1)
print(result)

(1, 'james', 25)

- 데이터 추가하기

In [11]:
conn = sq.connect('test.db')
cur = conn.cursor()

sql = 'insert into member(name, age) values (?, ?)'
cur.execute(sql, ('차정숙', 49))
conn.commit()   # DB 내용이 변경되는 경우에는 반드시 commit을 해야 함

cur.close()
conn.close()

In [12]:
result = get_member_by_mid(9)
print(result)

(9, 'cha', 51)

- 데이터 수정

In [13]:
def update_member(params):
    conn = sq.connect('test.db')
    cur = conn.cursor()

    sql = 'update member set name = ?, age = ? where mid = ?'
    cur.execute(sql, params)    # params: tuple
    conn.commit()   # DB 내용이 변경되는 경우에는 반드시 commit을 해야 함

    cur.close()
    conn.close()

In [14]:
params = ('cha', 51, 9)
update_member(params)

result = get_member_by_mid(9)
print(result)

(9, 'cha', 51)