### 24절기와 공휴일 정보를 API를 통해 가져와서 DB에 저장하기

In [38]:
import requests
from urllib.parse import quote
import pandas as pd

In [39]:
with open('keys/govDataApiKey.txt') as file:
    govdata_key = file.read()

- 공휴일 정보

In [40]:
base_holiday_url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?_type=json&numOfRows=50&solYear='
url = f'{base_holiday_url}2023&ServiceKey={quote(govdata_key)}'

results = requests.get(url).json()
results

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'items': {'item': [{'dateKind': '01',
      'dateName': '1월1일',
      'isHoliday': 'Y',
      'locdate': 20230101,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '설날',
      'isHoliday': 'Y',
      'locdate': 20230121,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '설날',
      'isHoliday': 'Y',
      'locdate': 20230122,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '설날',
      'isHoliday': 'Y',
      'locdate': 20230123,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '대체공휴일',
      'isHoliday': 'Y',
      'locdate': 20230124,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '삼일절',
      'isHoliday': 'Y',
      'locdate': 20230301,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '어린이날',
      'isHoliday': 'Y',
      'locdate': 20230505,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '부처님오신날',
      'isHoliday': 'Y',
      'locdate': 20230527,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '대체공휴일',
      'isHoliday': 'Y',
      'locdate': 20230529,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '현충일',
      'isHoliday': 'Y',
      'locdate': 20230606,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '광복절',
      'isHoliday': 'Y',
      'locdate': 20230815,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '추석',
      'isHoliday': 'Y',
      'locdate': 20230928,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '추석',
      'isHoliday': 'Y',
      'locdate': 20230929,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '추석',
      'isHoliday': 'Y',
      'locdate': 20230930,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '임시공휴일',
      'isHoliday': 'Y',
      'locdate': 20231002,
      'seq': 2},
     {'dateKind': '01',
      'dateName': '개천절',
      'isHoliday': 'Y',
      'locdate': 20231003,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '한글날',
      'isHoliday': 'Y',
      'locdate': 20231009,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '기독탄신일',
      'isHoliday': 'Y',
      'locdate': 20231225,
      'seq': 1}]},
   'numOfRows': 50,
   'pageNo': 1,
   'totalCount': 18}}}

In [41]:
holidays_data = results['response']['body']['items']['item']
holidays_data[0]

{'dateKind': '01',
 'dateName': '1월1일',
 'isHoliday': 'Y',
 'locdate': 20230101,
 'seq': 1}

In [42]:
df = pd.DataFrame(holidays_data)
df

   dateKind dateName isHoliday   locdate  seq
0        01     1월1일         Y  20230101    1
1        01       설날         Y  20230121    1
2        01       설날         Y  20230122    1
3        01       설날         Y  20230123    1
4        01    대체공휴일         Y  20230124    1
5        01      삼일절         Y  20230301    1
6        01     어린이날         Y  20230505    1
7        01   부처님오신날         Y  20230527    1
8        01    대체공휴일         Y  20230529    1
9        01      현충일         Y  20230606    1
10       01      광복절         Y  20230815    1
11       01       추석         Y  20230928    1
12       01       추석         Y  20230929    1
13       01       추석         Y  20230930    1
14       01    임시공휴일         Y  20231002    2
15       01      개천절         Y  20231003    1
16       01      한글날         Y  20231009    1
17       01    기독탄신일         Y  20231225    1

- 24절기 정보

In [43]:
base_24_url = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/get24DivisionsInfo?_type=json&numOfRows=50&solYear='
url = f'{base_24_url}2023&ServiceKey={quote(govdata_key)}'

results = requests.get(url).json()
results

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'items': {'item': [{'dateKind': '03',
      'dateName': '소한',
      'isHoliday': 'N',
      'kst': '0005      ',
      'locdate': 20230106,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '대한',
      'isHoliday': 'N',
      'kst': '1730      ',
      'locdate': 20230120,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '입춘',
      'isHoliday': 'N',
      'kst': '1143      ',
      'locdate': 20230204,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '우수',
      'isHoliday': 'N',
      'kst': '0734      ',
      'locdate': 20230219,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '경칩',
      'isHoliday': 'N',
      'kst': '0536      ',
      'locdate': 20230306,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '춘분',
      'isHoliday': 'N',
      'kst': '0624      ',
      'locdate': 20230321,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '청명',
      'isHoliday': 'N',
      'kst': '1013      ',
      'locdate': 20230405,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '곡우',
      'isHoliday': 'N',
      'kst': '1714      ',
      'locdate': 20230420,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '입하',
      'isHoliday': 'N',
      'kst': '0319      ',
      'locdate': 20230506,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '소만',
      'isHoliday': 'N',
      'kst': '1609      ',
      'locdate': 20230521,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '망종',
      'isHoliday': 'N',
      'kst': '0718      ',
      'locdate': 20230606,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '하지',
      'isHoliday': 'N',
      'kst': '2358      ',
      'locdate': 20230621,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '소서',
      'isHoliday': 'N',
      'kst': '1731      ',
      'locdate': 20230707,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '대서',
      'isHoliday': 'N',
      'kst': '1050      ',
      'locdate': 20230723,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '입추',
      'isHoliday': 'N',
      'kst': '0323      ',
      'locdate': 20230808,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '처서',
      'isHoliday': 'N',
      'kst': '1801      ',
      'locdate': 20230823,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '백로',
      'isHoliday': 'N',
      'kst': '0627      ',
      'locdate': 20230908,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '추분',
      'isHoliday': 'N',
      'kst': '1550      ',
      'locdate': 20230923,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '한로',
      'isHoliday': 'N',
      'kst': '2216      ',
      'locdate': 20231008,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '상강',
      'isHoliday': 'N',
      'kst': '0121      ',
      'locdate': 20231024,
      'seq': 2},
     {'dateKind': '03',
      'dateName': '입동',
      'isHoliday': 'N',
      'kst': '0136      ',
      'locdate': 20231108,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '소설',
      'isHoliday': 'N',
      'kst': '2303      ',
      'locdate': 20231122,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '대설',
      'isHoliday': 'N',
      'kst': '1833      ',
      'locdate': 20231207,
      'seq': 1},
     {'dateKind': '03',
      'dateName': '동지',
      'isHoliday': 'N',
      'kst': '1227      ',
      'locdate': 20231222,
      'seq': 1}]},
   'numOfRows': 50,
   'pageNo': 1,
   'totalCount': 24}}}

In [44]:
twentyfours_data = results['response']['body']['items']['item']
pd.DataFrame(twentyfours_data)

   dateKind dateName isHoliday         kst   locdate  seq
0        03       소한         N  0005        20230106    1
1        03       대한         N  1730        20230120    1
2        03       입춘         N  1143        20230204    1
3        03       우수         N  0734        20230219    1
4        03       경칩         N  0536        20230306    1
5        03       춘분         N  0624        20230321    1
6        03       청명         N  1013        20230405    2
7        03       곡우         N  1714        20230420    2
8        03       입하         N  0319        20230506    1
9        03       소만         N  1609        20230521    2
10       03       망종         N  0718        20230606    2
11       03       하지         N  2358        20230621    1
12       03       소서         N  1731        20230707    1
13       03       대서         N  1050        20230723    1
14       03       입추         N  0323        20230808    2
15       03       처서         N  1801        20230823    1
16       03       백로         N  0627        20230908    1
17       03       추분         N  1550        20230923    1
18       03       한로         N  2216        20231008    2
19       03       상강         N  0121        20231024    2
20       03       입동         N  0136        20231108    1
21       03       소설         N  2303        20231122    1
22       03       대설         N  1833        20231207    1
23       03       동지         N  1227        20231222    1

- DB에 저장

In [45]:
import sqlite3 as sq

In [46]:
df.head()

  dateKind dateName isHoliday   locdate  seq
0       01     1월1일         Y  20230101    1
1       01       설날         Y  20230121    1
2       01       설날         Y  20230122    1
3       01       설날         Y  20230123    1
4       01    대체공휴일         Y  20230124    1

In [47]:
for i in df.index:
    params = (df.dateName[i], str(df.locdate[i]), 1, 'admin')

    conn = sq.connect('test.db')
    cur = conn.cursor()

    sql = 'insert into anniversary(aname, adate, is_holiday, uid) values(?, ?, ?, ?)'
    cur.execute(sql, params)
    conn.commit()

    cur.close()
    conn.close()

In [48]:
anniv_list = []
for anniv in twentyfours_data:
    holiday = 1 if anniv['isHoliday'] == 'Y' else 0
    anniv_list.append((anniv['dateName'], str(anniv['locdate']), holiday, 'admin'))

In [49]:
anniv_list[:3]

[('소한', '20230106', 0, 'admin'),
 ('대한', '20230120', 0, 'admin'),
 ('입춘', '20230204', 0, 'admin')]

In [50]:
conn = sq.connect('test.db')
cur = conn.cursor()

sql = 'insert into anniversary(aname, adate, is_holiday, uid) values (?, ?, ?, ?)'
cur.executemany(sql, anniv_list)    # params의 리스트를 한번에 넣어줌
conn.commit()

cur.close()
conn.close()

In [51]:
def insert_anniv_many(anniv_list):
    conn = sq.connect('test.db')
    cur = conn.cursor()

    sql = 'insert into anniversary(aname, adate, is_holiday, uid) values (?, ?, ?, ?)'
    cur.executemany(sql, anniv_list)
    conn.commit()

    cur.close()
    conn.close()

In [52]:
# 2021 ~2025
for year in range(2021, 2026):
    for base_url in [base_holiday_url, base_24_url]:
        url = f'{base_url}{year}&ServiceKey={quote(govdata_key)}'
        results = requests.get(url).json()
        anniv_data = results['response']['body']['items']['item']

        anniv_list = []
        for anniv in anniv_data:
            holiday = 1 if anniv['isHoliday'] == 'Y' else 0
            anniv_list.append((anniv['dateName'], str(anniv['locdate']), holiday, 'admin'))

        insert_anniv_many(anniv_list)

- Anniversary DAO 사용

In [54]:
import anniversary_dao as adao

In [56]:
sdate, edate = '20231003', '20240101'
results = adao.get_anniv_list(sdate, edate, 'admin')
for row in results:
    print(row)

(16, '개천절', '20231003', 1, 'admin')
(17, '한글날', '20231009', 1, 'admin')
(18, '기독탄신일', '20231225', 1, 'admin')
(37, '한로', '20231008', 0, 'admin')
(38, '상강', '20231024', 0, 'admin')
(39, '입동', '20231108', 0, 'admin')
(40, '소설', '20231122', 0, 'admin')
(41, '대설', '20231207', 0, 'admin')
(42, '동지', '20231222', 0, 'admin')
(143, '개천절', '20231003', 1, 'admin')
(144, '한글날', '20231009', 1, 'admin')
(145, '기독탄신일', '20231225', 1, 'admin')
(164, '한로', '20231008', 0, 'admin')
(165, '상강', '20231024', 0, 'admin')
(166, '입동', '20231108', 0, 'admin')
(167, '소설', '20231122', 0, 'admin')
(168, '대설', '20231207', 0, 'admin')
(169, '동지', '20231222', 0, 'admin')
(170, '1월1일', '20240101', 1, 'admin')