### 인터파크 - 베스트셀러

In [68]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

- Step 1) 사이트에 접속하고 HTML 데이터를 가져와 파싱

In [69]:
url = "http://book.interpark.com/display/collectlist.do?_method=bestsellerHourNew&bookblockname=b_gnb&booklinkname=%BA%A3%BD%BA%C6%AE%C1%B8&bid1=bgnb_mn&bid2=LiveRanking&bid3=main&bid4=001"
res = requests.get(url)

- Step 2) 원하는 데이터 찾기

In [70]:
soup = BeautifulSoup(res.text, "html.parser")
lis = soup.select(".rankBestContentList > ol > li")
len(lis)

15

- Step 3) 하나를 선택해서 원하는 정보 추출

In [71]:
li = lis[0]

In [72]:
# 책 제목
title = li.select_one('.itemName').get_text().strip()
title

'디케의 눈물'

In [73]:
# 저자
author = li.select_one('.author').get_text().strip()
author

'조국'

In [74]:
# company
company = li.select_one('.company').get_text().strip()
company

'다산북스'

In [75]:
# price
price = int(li.select_one('.price > em').get_text().strip().replace(',', ''))
price

16920

In [76]:

rank = ''
for i in range(len(li.select('.rankNumber > .rankBtn_ctrl'))):
    rank += li.select('.rankNumber > .rankBtn_ctrl')[i]['class'][1][8:]
rank = int(rank)
rank

1

- Step 4) 반복문을 사용하여 페이지 내에 있는 데이터 가져오기

In [78]:
data = []
for li in lis:
    title = li.select_one('.itemName').get_text().strip()
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = int(li.select_one('.price > em').get_text().strip().replace(',', ''))
    rank = ''
    for i in range(len(li.select('.rankNumber > .rankBtn_ctrl'))):
        rank += li.select('.rankNumber > .rankBtn_ctrl')[i]['class'][1][8:]
    rank = int(rank)
    data.append({'제목': title, '저자': author, '출판사': company, '가격': price, '순위': rank})

data

[{'제목': '디케의 눈물', '저자': '조국', '출판사': '다산북스', '가격': 16920, '순위': 1},
 {'제목': '도시와 그 불확실한 벽',
  '저자': '무라카미 하루키(村上春樹)',
  '출판사': '문학동네',
  '가격': 17550,
  '순위': 2},
 {'제목': '퓨처 셀프', '저자': '벤저민 하디/최은아 역', '출판사': '상상스퀘어', '가격': 17820, '순위': 3},
 {'제목': '1%를 읽는 힘', '저자': '메르', '출판사': '토네이도', '가격': 19800, '순위': 4},
 {'제목': '흔한남매 14',
  '저자': '흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수',
  '출판사': '미래엔아이세움',
  '가격': 13050,
  '순위': 5},
 {'제목': '일론 머스크', '저자': '월터 아이작슨', '출판사': '21세기북스', '가격': 34200, '순위': 6},
 {'제목': '가짜 노동',
  '저자': '데니스 뇌르마르크, 아네르스 포그 옌센/이수영 역',
  '출판사': '자음과모음',
  '가격': 15120,
  '순위': 6},
 {'제목': '세이노의 가르침', '저자': '세이노', '출판사': '데이원', '가격': 6480, '순위': 8},
 {'제목': '트렌드 코리아 2024',
  '저자': '김난도, 추예린, 전다현, 전미영, 최지혜',
  '출판사': '미래의창',
  '가격': 17100,
  '순위': 9},
 {'제목': '완전배출', '저자': '조승우', '출판사': '사이몬북스', '가격': 17100, '순위': 10},
 {'제목': '쩐의 흐름을 타라', '저자': '', '출판사': '에디터', '가격': 16200, '순위': 10},
 {'제목': '딸이 조용히 무너져 있었다', '저자': '김현아', '출판사': '창비', '가격': 16200, '순위': 12},
 {'제목': '래리 윌리엄스 좋은 주식은 때가 있다',
  '저자': '래리 윌리엄스/김태훈 역/강환국 감수',
  '출판사': '페이지2북스',
  '가격': 16200,
  '순위': 12},
 {'제목': '슈퍼노멀', '저자': '주언규', '출판사': '웅진지식하우스', '가격': 17550, '순위': 14},
 {'제목': '역행자(확장판)', '저자': '자청', '출판사': '웅진지식하우스', '가격': 17550, '순위': 14}]

- Step 5) 오류가 발생하면 오류를 해결하고 2, 3, 4 과정을 반복

- Step 6) 모든 페이지에 대해 반복하기

- Step7 7) 데이터프레임으로 만들기

In [79]:
df = pd.DataFrame(data)
df

                      제목                           저자      출판사     가격  순위
0                 디케의 눈물                           조국     다산북스  16920   1
1           도시와 그 불확실한 벽               무라카미 하루키(村上春樹)     문학동네  17550   2
2                  퓨처 셀프                 벤저민 하디/최은아 역    상상스퀘어  17820   3
3               1%를 읽는 힘                           메르     토네이도  19800   4
4                흔한남매 14    흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수  미래엔아이세움  13050   5
5                 일론 머스크                      월터 아이작슨   21세기북스  34200   6
6                  가짜 노동  데니스 뇌르마르크, 아네르스 포그 옌센/이수영 역    자음과모음  15120   6
7               세이노의 가르침                          세이노      데이원   6480   8
8           트렌드 코리아 2024      김난도, 추예린, 전다현, 전미영, 최지혜     미래의창  17100   9
9                   완전배출                          조승우    사이몬북스  17100  10
10             쩐의 흐름을 타라                                   에디터  16200  10
11        딸이 조용히 무너져 있었다                          김현아       창비  16200  12
12  래리 윌리엄스 좋은 주식은 때가 있다         래리 윌리엄스/김태훈 역/강환국 감수   페이지2북스  16200  12
13                  슈퍼노멀                          주언규  웅진지식하우스  17550  14
14              역행자(확장판)                           자청  웅진지식하우스  17550  14