### 시계열 자료 다루기

In [3]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [5]:
date_str = ['2023, 9, 12']
pd.to_datetime(date_str)

DatetimeIndex(['2023-09-12'], dtype='datetime64[ns]', freq=None)

In [8]:
date_str = ['2023-09-12', '2023.9.13', '2023, 9,14', '2023/9/15', '20230916']
pd.to_datetime(date_str)

DatetimeIndex(['2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15',
               '2023-09-16'],
              dtype='datetime64[ns]', freq=None)

In [13]:
df = pd.DataFrame(np.random.randint(60, 100, 5),
                  columns=['score'], index=pd.to_datetime(date_str))
df

            score
2023-09-12     64
2023-09-13     79
2023-09-14     65
2023-09-15     70
2023-09-16     73

In [22]:
pd.date_range('2023-09-01', '2023-09-30')   # 시작일, 종료일

DatetimeIndex(['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04',
               '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
               '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20',
               '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range(start='2023-09-01', periods=33)   # 시작일, 기간

DatetimeIndex(['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04',
               '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
               '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20',
               '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30', '2023-10-01', '2023-10-02',
               '2023-10-03'],
              dtype='datetime64[ns]', freq='D')

In [20]:
# 9월 영업일(Bisiness Day)만 추출
pd.date_range('2023-09-01', '2023-09-30', freq='B')

DatetimeIndex(['2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06',
               '2023-09-07', '2023-09-08', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-18',
               '2023-09-19', '2023-09-20', '2023-09-21', '2023-09-22',
               '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28',
               '2023-09-29'],
              dtype='datetime64[ns]', freq='B')

In [24]:
# 1년중 각 월의 주말이 아닌 시작하는 월-금요일만 추출
pd.date_range('2023-01-01', '2023-12-31', freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [27]:
df = pd.DataFrame(np.random.randint(500, 1000, 300),
                  index=pd.date_range('2023-01-01', periods=300), columns=['sales'])
df.tail()

            sales
2023-10-23    906
2023-10-24    908
2023-10-25    938
2023-10-26    569
2023-10-27    784

In [40]:
df.resample('MS').first()

            sales
2023-01-01    782
2023-02-01    751
2023-03-01    577
2023-04-01    568
2023-05-01    880
2023-06-01    859
2023-07-01    716
2023-08-01    920
2023-09-01    705
2023-10-01    523